*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

body {
    background: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#weather-container {
    background: white;
    max-width: 600px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 32px white;
    backdrop-filter: blur(30px);
    border: 2px solid white;
    text-align: center;
}

h2, label, p {
    color: black;
    margin: 8px 0;
}

input {
    width: calc(100% - 3px);
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
    border: 2px solid black;
    margin-top: 20px;
}

button {
    background: #100f10;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    width: 100px;
    font-size: 15px;
}

button:hover {
    background: green;
}

#temp-div p {
    font-size: 60px;
    margin-top: -30px;
}

#weather-info {
    font-size: 20px;
}

#weather-icon {
    width: 200px;
    height: 100px;
    margin: 0 auto 10px; 
    margin-bottom: 0;
    display: none;
}

#hourly-forecast {
    margin-top: 50px;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

.hourly-item {
    flex: 0 0 auto;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    color: black;
}

.hourly-item img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

#hourly-heading {
    color: black;
    margin-top: 10px;
}